<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ins_proc_log">
		<title>项目流转状态</title>
		<centered>1</centered>
		<size>800,400</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW_DISPLAY" variable="lv_proc_log" member="yes">
					<size>579,211</size>
					<style>wxLC_REPORT|wxLC_HRULES|wxLC_VRULES</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>10</option>
			</object>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW_DISPLAY1" variable="lv_proc_log1" member="yes" />
				<flag>wxALL|wxEXPAND</flag>
				<option>10</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
							<label>退出</label>
							<handler function="OnButton1Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
