<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="private_tasks_panel">
		<size>298,258</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>任务提交</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>工作类别</label>
								</object>
								<col>0</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_COMBOBOX_CATALOG" variable="cb_catalog" member="yes">
									<style>wxCB_READONLY|wxCB_DROPDOWN</style>
								</object>
								<col>1</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>工作量</label>
								</object>
								<col>2</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_LOAD" variable="tc_res_load" member="yes">
									<value>0</value>
									<handler function="Ontc_res_loadText" entry="EVT_TEXT" />
								</object>
								<col>3</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>小时</label>
								</object>
								<col>4</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>工作内容</label>
								</object>
								<col>0</col>
								<row>1</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_CONTENT" variable="tc_content" member="yes">
									<size>315,36</size>
									<style>wxTE_MULTILINE</style>
								</object>
								<colspan>8</colspan>
								<rowspan>2</rowspan>
								<col>1</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_SUBMIT" variable="button_submit" member="yes">
									<label>提交</label>
									<handler function="Onbutton_submitClick" entry="EVT_BUTTON" />
								</object>
								<col>1</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_CLEAR" variable="button_clear" member="yes">
									<label>重填</label>
									<handler function="Onbutton_clearClick" entry="EVT_BUTTON" />
								</object>
								<col>2</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label>工作日</label>
								</object>
								<col>5</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxDatePickerCtrl" name="ID_DATEPICKERCTRL_WORKDAY" variable="dt_workday_from" member="yes">
									<style>wxDP_DEFAULT|wxDP_DROPDOWN|wxDP_SHOWCENTURY</style>
								</object>
								<col>6</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxDatePickerCtrl" name="ID_DATEPICKERCTRL_TO" variable="dt_workday_to" member="yes">
									<style>wxDP_DEFAULT|wxDP_DROPDOWN|wxDP_SHOWCENTURY</style>
								</object>
								<col>8</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
									<label>到</label>
								</object>
								<col>7</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>任务清单</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
									<label>过滤器</label>
									<object class="sizeritem">
										<object class="wxChoice" name="ID_CHOICE_FILTER" variable="choice_filter" member="yes">
											<content>
												<item>待确认</item>
												<item>已确认</item>
												<item>已删除</item>
											</content>
											<selection>1</selection>
											<size>60,21</size>
											<handler function="Onchoice_filterSelect" entry="EVT_CHOICE" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_APPROVE" variable="button_approve" member="yes">
									<label>确认</label>
									<handler function="Onbutton_approveClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_RESET_LOAD" variable="button_reset_load" member="yes">
									<label>工作量重置</label>
									<handler function="Onbutton_reset_loadClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_REFRESH" variable="button_refresh" member="yes">
									<label>刷新</label>
									<handler function="Onbutton_refreshClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_SETTING" variable="button_setting" member="yes">
									<label>设置</label>
									<size>111,25</size>
									<hidden>1</hidden>
									<handler function="Onbutton_settingClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_DELETE" variable="button_delete" member="yes">
									<label>删除</label>
									<handler function="Onbutton_deleteClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer3" member="no">
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX_SELF" variable="check_self" member="yes">
											<label>含本人任务</label>
											<checked>1</checked>
											<handler function="Oncheck_selfClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxListView" name="ID_LISTVIEW_TASKS" variable="lv_tasks" member="yes">
							<style>wxLC_REPORT</style>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>5</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>3</option>
			</object>
		</object>
	</object>
</wxsmith>
